img {
  width: 100%;
}

h5 {
  margin: 5px 0;
  font-weight: 400;
}

.price {
  display: flex;
}

.now {
  margin-left: 5px;
  color: red;
}

.strike-through {
  text-decoration: line-through;
  font-weight: 600;
}

.list-price {
  font-weight: 600;
}

.product-card {
  padding: 10px;
  margin-bottom: 30px;
}

.product-card:hover {
  cursor: pointer;
  margin: -10px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.product-img {
  width: 100%;
}
